<html>
<head>
<body>
  <div class="container-fluid text-center">
      <h1 class="margin">"未来与现在.知识猎人"大猎场之一</h1>
      <h3>期待各位知识猎人的好消息</h3>
  </div>

<br/>

<div class="dropdown clearfix pull-right">
    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      排序
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
        <li>
          <%= link_to("赏金下限排序", jobs_path(:order => "by_lower_bound")) %>
        </li>
        <li>
            <%= link_to("赏金上限排序", jobs_path(:order => "by_upper_bound")) %>

        </li>
        <li>
          <%= link_to("发表时间排序", jobs_path ) %>
        </li>
    </ul>
</div>

<div class="container-fluid text-center">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <table class="table table-hover" >
          <thead>
              <tr>
                  <td>知识悬赏任务</td>
                  <td>赏金下限</td>
                  <td>赏金上限</td>
                  <td>发布时间</td>
              </tr>
          </thead>
          <tbody>
              <% @jobs.each do |job| %>
              <tr>
                  <td>
                      <%= link_to(job.title, job_path(job)) %>
                  </td>
                  <td>
                      <%= job.wage_lower_bound %>
                  </td>
                  <td>
                      <%= job.wage_upper_bound %>
                  </td>
                  <td>
                      <%= job.created_at %>
                  </td>
              </tr>
              <% end %>
          </tbody>
      </table>
    </div>
  </div>
</div>

</body>
</head>
</html>
