<h2>遗忘了你的密码?</h2>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true, :label =>"你的注册邮箱" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "重置密码指令" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
