<br/>
    <ul class="nav nav-pills nav-stacked pull-right bg-7" style="max-width: 180px; padding-top:10px;">
      <li class="active"><%= link_to("发布知识悬赏", new_admin_job_path  ) %></li>
    </ul>
<br/>

<div class="container-fluid text-center">
    <h1 class="margin">知识猎人的后花园</h1>
</div>
<br/>

<div class="tbl-header well">
    <table cellpadding="0" cellspacing="0" border="0">
        <thead>
            <tr>
                <td>
                    知识悬赏任务
                </td>
                <td>
                    申请人数
                </td>
                <td>
                    赏金下限
                </td>
                <td>
                    赏金上限
                </td>
                <td>
                    管理选项
                </td>
                <td>
                    发布时间
                </td>
            </tr>
        </thead>
    </table>
</div>
<div class="tbl-content well">
    <table class="table table-hover" cellpadding="0" cellspacing="0" border="0">
        <tbody>
            <% @jobs.each do |job| %>
            <tr>

                <td>
                    <%= render_job_status(job) %>

                    <%= link_to(job.title, admin_job_path(job)) %>

                </td>
                <td> <%= link_to(job.resumes.count, admin_job_resumes_path(job)) %> </td>
                <td> <%= job.wage_lower_bound %> </td>
                <td> <%= job.wage_upper_bound %> </td>
                <td>
                  <%= link_to("编辑", edit_admin_job_path(job), :class => "btn btn-xs btn-info") %>
                  |
                  <%= link_to("删除", admin_job_path(job), :method => :delete, :class => "btn btn-xs btn-danger", :data => { :confirm => "Are you sure?" }) %>
                  |
                  <% if job.is_hidden %>

                    <%= link_to("公开", publish_admin_job_path(job) , :method => :post, :class => "btn btn-xs btn-success") %>
                  <% else %>
                    <%= link_to("隐藏", hide_admin_job_path(job), :method => :post,  :class => "btn btn-xs btn-warning") %>
                  <% end %>
                </td>
                <td>
                    <%= job.created_at %>
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>
